body {
  margin: 0;
  padding: 0;
  background-color: #f7e4da;
}

#section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback {
  font-size: 3rem;
  color: #467745;
  font-family: 'EB Garamond', serif;
}

.input-field {
  padding: 10px;
  max-width: 480px;
  max-height: 64px;
  font-size: 16px;
  color: #467745;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

.text-area {
  padding: 10px;
  margin-top: 35px;
  font-size: 16px;
  max-width: 480px;
  max-height: 120px;
  color: #467745;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

.license {
  margin-top: 35px;
  border: none;
}

.save-btn {
  margin-top: 35px;
  font-size: 21px;
  max-width: 280px;
  max-height: 80px;
  background-color: #467745;
  color: #f7e4da;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 25px;
  font-family: 'EB Garamond', serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-label {
  font-size: 16px;
  color: #467745;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

.check-cont {
  display: inline;
}
